In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
print(school_data_complete)

       Student ID     student_name gender  year         school_name  \
0               0     Paul Bradley      M     9   Huang High School
1               1     Victor Smith      M    12   Huang High School
2               2  Kevin Rodriguez      M    12   Huang High School
3               3    Richard Scott      M    12   Huang High School
4               4       Bonnie Ray      F     9   Huang High School
...           ...              ...    ...   ...                 ...
39165       39165     Donna Howard      F    12  Thomas High School
39166       39166        Dawn Bell      F    10  Thomas High School
39167       39167   Rebecca Tanner      F     9  Thomas High School
39168       39168     Desiree Kidd      F    10  Thomas High School
39169       39169  Carolyn Jackson      F    11  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
0                 96           94          0   Government  2917  1910635
1                 90           43          0   Government  2917  1910635
2                 41           76          0   Government  2917  1910635
3                 89           86          0   Government  2917  1910635
4                 87           69          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39165             51           48         14  Independent  1635  1043130
39166             81           89         14  Independent  1635  1043130
39167             99           99         14  Independent  1635  1043130
39168             72           77         14  Independent  1635  1043130
39169             47           62         14  Independent  1635  1043130

[39170 rows x 11 columns]

In [2]:
#Calculate the total number of schools
schools = school_data["school_name"].count()
#Calculate the total number of students
students = student_data["student_name"].count()
#Calculate the total budget of students
budget = school_data["budget"].sum()
#Calculate the average maths score
averagemathsscore=student_data["maths_score"].mean()
#Calculate the average reading score
averagereadingscore = student_data["reading_score"].mean()
#Calculate the percentage of students with a passing maths score (50 or greater)
passing_maths_student_data = pd.DataFrame(student_data.loc[student_data["maths_score"]>=50,:])
passing_maths_students = passing_maths_student_data["maths_score"].count()/students
#Calculate the percentage of students with a passing reading score (50 or greater)
passing_reading_student_data = pd.DataFrame(student_data.loc[student_data["reading_score"]>=50,:])
passing_reading_students = passing_reading_student_data["reading_score"].count()/students
#Calculate the percentage of students who passed maths and reading (% Overall Passing)
passing_student_data = pd.DataFrame(student_data.loc[(student_data["reading_score"]>=50)&(student_data["maths_score"]>=50),:])
passing_students = passing_student_data["reading_score"].count()/students

In [3]:
#Create a dataframe to hold the above results
LGASummary_df = pd.DataFrame({
    "Total Schools":[schools],
    "Total Students":[students],
    "Total Budget":[budget],
    "Average Maths Score":[averagemathsscore],
    "Average Reading Score":[averagereadingscore],
    "% Passing Maths":[passing_maths_students],
    "% Passing Reading":[passing_reading_students],
    "% Overall Passing":[passing_students]
})
LGASummary_df
#Optional: give the displayed data cleaner formatting
# Use Map to format all the columns
LGASummary_df["Total Schools"] = LGASummary_df["Total Schools"].map("{:,}".format)
LGASummary_df["Total Students"] = LGASummary_df["Total Students"].map("{:,}".format)
LGASummary_df["Total Budget"] = LGASummary_df["Total Budget"].map("${:,}".format)
LGASummary_df["Average Maths Score"] = LGASummary_df["Average Maths Score"].map("{:.2f}".format)
LGASummary_df["Average Reading Score"] = LGASummary_df["Average Reading Score"].map("{:.2f}".format)
LGASummary_df["% Passing Maths"] = (LGASummary_df["% Passing Maths"]*100).map("{:.1f}%".format)
LGASummary_df["% Passing Reading"] = (LGASummary_df["% Passing Reading"]*100).map("{:.1f}%".format)
LGASummary_df["% Overall Passing"] = (LGASummary_df["% Overall Passing"]*100).map("{:,.1f}%".format)
LGASummary_df.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",70.34,69.98,86.1%,84.4%,72.8%

In [4]:
#School Name
School_Names = school_data_complete["school_name"].unique()
#School Type
School_Type = school_data_complete.groupby("school_name")["type"].unique()
#Total Students
Total_Students = school_data_complete.groupby(["school_name"])["student_name"].count()
#Total School Budget
Total_Budget = school_data_complete.groupby("school_name")["budget"].sum()/Total_Students
#Per Student Budget
Student_Budget =Total_Budget/Total_Students
#Average Maths Score
Average_Maths = school_data_complete.groupby("school_name")["maths_score"].mean()
#Average Reading Score
Average_Reading = school_data_complete.groupby("school_name")["reading_score"].mean()
#% Passing Maths
passing_maths_student_data = pd.DataFrame(student_data.loc[student_data["maths_score"]>=50,:])
passing_maths_df = passing_maths_student_data.groupby("school_name")["maths_score"]
passing_maths_School = passing_maths_df.count()/Total_Students
#% Passing Reading
passing_reading_student_data = pd.DataFrame(student_data.loc[student_data["reading_score"]>=50,:])
passing_reading_df = passing_reading_student_data.groupby("school_name")["maths_score"]
passing_reading_School = passing_reading_df.count()/Total_Students
#% Overall Passing (The percentage of students that passed maths and reading.)
passing_student_data = pd.DataFrame(student_data.loc[(student_data["reading_score"]>=50)&(student_data["maths_score"]>=50),:])
passing_students_df = passing_student_data.groupby("school_name")["reading_score"]
passing_students_School = passing_students_df.count()/Total_Students

In [ ]:
#School Name
#School_Names = school_data_complete["school_name"].unique()
#School Type
School_Type = school_data_complete.groupby("school_name")["type"].unique()
#Total Students
Total_Students = school_data_complete.groupby(["school_name"])["student_name"].count()
#Total School Budget
Total_Budget = school_data_complete.groupby("school_name")["budget"].sum()/Total_Students
#Per Student Budget
Student_Budget =Total_Budget/Total_Students
#Average Maths Score
        #Average_Maths = school_data_complete.groupby("school_name")["maths_score"].mean()
#Average Reading Score
        #Average_Reading = school_data_complete.groupby("school_name")["reading_score"].mean()
#% Passing Maths
passing_maths_student_data = pd.DataFrame(student_data.loc[student_data["maths_score"]>=50,:])
passing_maths_df = passing_maths_student_data.groupby("school_name")["maths_score"]
passing_maths_School = passing_maths_df.count()/Total_Students
#% Passing Reading
passing_reading_student_data = pd.DataFrame(student_data.loc[student_data["reading_score"]>=50,:])
passing_reading_df = passing_reading_student_data.groupby("school_name")["reading_score"]
passing_reading_School = passing_reading_df.count()/Total_Students
#% Overall Passing (The percentage of students that passed maths and reading.)
passing_student_data = pd.DataFrame(student_data.loc[(student_data["reading_score"]>=50)&(student_data["maths_score"]>=50),:])
passing_students_df = passing_student_data.groupby("school_name")["reading_score"]
passing_students_School = passing_students_df.count()/Total_Students

C:\Users\wicke\AppData\Local\Temp\ipykernel_37896\3750392880.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  passing_MR_df = passing_maths_student_data.groupby("school_name")["maths_score","reading_score"]

In [35]:
#Average Maths Score
Average_MR = school_data_complete.groupby("school_name")["maths_score","reading_score"].mean()
Average_MR

C:\Users\wicke\AppData\Local\Temp\ipykernel_37896\3028135298.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  Average_MR = school_data_complete.groupby("school_name")["maths_score","reading_score"].mean()

                       maths_score  reading_score
school_name
Bailey High School       72.352894      71.008842
Cabrera High School      71.657158      71.359526
Figueroa High School     68.698542      69.077993
Ford High School         69.091274      69.572472
Griffin High School      71.788147      71.245232
Hernandez High School    68.874865      69.186408
Holden High School       72.583138      71.660422
Huang High School        68.935207      68.910525
Johnson High School      68.843100      69.039277
Pena High School         72.088358      71.613306
Rodriguez High School    72.047762      70.935984
Shelton High School      72.034072      70.257808
Thomas High School       69.581651      69.768807
Wilson High School       69.170828      68.876916
Wright High School       72.047222      70.969444

In [34]:
obj = school_data_complete.groupby('school_name')
obj.groups
for name,group in obj:
    print(name,'contains',group.shape[0],'rows')

Bailey High School contains 4976 rows
Cabrera High School contains 1858 rows
Figueroa High School contains 2949 rows
Ford High School contains 2739 rows
Griffin High School contains 1468 rows
Hernandez High School contains 4635 rows
Holden High School contains 427 rows
Huang High School contains 2917 rows
Johnson High School contains 4761 rows
Pena High School contains 962 rows
Rodriguez High School contains 3999 rows
Shelton High School contains 1761 rows
Thomas High School contains 1635 rows
Wilson High School contains 2283 rows
Wright High School contains 1800 rows

In [12]:
#Create a dataframe to hold the above results
School_Summary_df = pd.DataFrame({
    "School Type":[School_Type],
    "Total Students":[Total_Students],
    "Total School Budget":[Total_Budget],
    "Per Student Budget":[Student_Budget],
    "Average Maths Score":[Average_Maths],
    "Average Reading Score":[Average_Reading],
    "% Passing Maths":[passing_maths_School],
    "% Passing Reading":[passing_reading_School],
    "% Overall Passing":[passing_students_School]
})
School_Summary_df
School_Summary_df.columns
Summary_organised_df = School_Summary_df[["School Type","Total Students","Total School Budget","Per Student Budget"]]
Summary_organised_df.head()
# Use Map to format all the columns
#School_Summary_df["Total Students"] = School_Summary_df["Total Students"].map("{:,}".format)
#School_Summary_df["Total School Budget"] = School_Summary_df["Total School Budget"].map("${:,}".format)
#School_Summary_df["Per Student Budget"] = School_Summary_df["Per Student Budget"].map("${:,}".format)
#School_Summary_df["Average Maths Score"] = School_Summary_df["Average Maths Score"].map("{:.2f}".format)
#School_Summary_df["Average Reading Score"] = School_Summary_df["Average Reading Score"].map("{:.2f}".format)
#School_Summary_df["% Passing Maths"] = (School_Summary_df["% Passing Maths"]*100).map("{:.1f}%".format)
#School_Summary_df["% Passing Reading"] = (School_Summary_df["% Passing Reading"]*100).map("{:.1f}%".format)
#School_Summary_df["% Overall Passing"] = (School_Summary_df["% Overall Passing"]*100).map("{:,.1f}%".format)
#School_Summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget
0,school_name Bailey High School [Governm...,school_name Bailey High School 4976 Cabr...,school_name Bailey High School 3124928.0...,school_name Bailey High School 628.0 Cab...